*{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;


}
body{
    background: url(https://www.alura.com.br/artigos/assets/sistema-codigo-binario/sistema-codigo-binario.png)
    
}
.logoAlura{
    display: inline;
   /* position: absolute;*/
    left: 10%;
    top: 5%;
}
.cabecalho{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    padding: 30px 0 ;

    
}
.cabecalhoFundo{
   
    width: 95%;
    padding:  10px 30px;
    background:linear-gradient(rgb(248, 248, 248), rgba(23, 33, 34, 0.538));
}

.linkedin,.github{
    font-size: 18px;
    font-weight: bold;
    margin: 3px;  
	width: 49.5%;
	padding: 10px 20px;
	background: rgba(255, 255, 255, 0.842);
	color: black;
	border: none;
	border-radius: 5px;
	

}
.linkedin:hover,.github:hover {
	cursor: pointer;
	transform: scale(1.03);	
}

div a{
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    
}
.titulo-cod{
    
    display: inline-block;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin: 3px;  
	width: 100%;
	padding: 10px;
	background:rgba(255, 255, 255, 0.836);
	color: black;
	border: none;
	border-radius: 5px;
}

#textodecod{
    background-color:rgba(8, 168, 88, 0.644);;
    
    width: 80%;
    height: 250px;
    margin: 10px 10%;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;

}

.enviar{
	width: 39%;
    margin:  0 5px ;
	padding: 15px 0;
	background:rgba(8, 168, 88, 0.774);
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 10px;
	transition: 0.3s all;

}
::placeholder{
    color: black;
    padding-top: 10%;
    font-size: 24px;
    text-align: center;
    
}

.enviar:hover{
    cursor: pointer;
	transform: scale(1.1);	
}
.copiartxt{
   
    
   
    text-align: center;
    width: 20%;
    margin: 3px;
	padding: 15px 0;
	background: rgba(40, 243, 158, 0.74);
	color: white;
	font-weight: bold;
	font-size: 18px;
	 border: none;
	border-radius: 10px;
	transition: 0.3s all;

}
.copiartxt:hover{
    cursor: pointer;
	transform: scale(1.1);	
}


.principal {
   
    width: 100%;
    
}


@media  screen and (max-width : 668px) {
    .titulo-cod{
        width: 100%;
    }
    .github,.linkedin{
        width: 47%;    
    }
    .enviar{
        width: 34%;       
    }
    
}



@media screen and (min-width : 668px) {
    .titulo-cod{
        width: 100%;
    }
    .github,.linkedin{
        width: 47%;
       
    }
    .enviar{
        width: 34%;       
    }
    
}

@media screen and (min-width : 1000px) {
    .titulo-cod{
        margin: 0 2%;
        width: 94%;
    }
    .github,.linkedin{
        margin-left: 2%;
        width: 46.5%;
    }
    .enviar{
        margin: 0 3%;
        width: 31%;       
    }
}
